<launch>



  <node pkg="candlefinder" type="camera_scan_map" name="camera_scan_map" />
  <node pkg="candlefinder" type="cost_map" name="cost_map" />
  <node pkg="candlefinder" type="navigation" name="navigation" />
  <node pkg="candlefinder" type="FLIR_node.py" name="FLIR_node" />
  <node pkg="candlefinder" type="serial_node" name="serial_node" />
  <!--node pkg="candlefinder" type="control" name="control" /-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/slam.rviz" />


</launch>
